{% load static dsfr_tags %}
<!doctype html>
<html lang="fr" {% if SITE_CONFIG.mourning %}data-fr-mourning{% endif %}>
    
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% dsfr_css %}
    {% dsfr_favicon %}
    {% block extra_css %}{% endblock extra_css %}
</head>

<body>
    {% block skiplinks %}
        {% dsfr_skiplinks skiplinks %}
    {% endblock skiplinks %}
    {% dsfr_theme_modale %}
    {% include "./header.html" %}
 
    <div class="fr-container">
    
    <nav class="fr-nav " id="header-navigation" role="navigation" aria-label="Menu principal">
        <ul class="fr-nav__list">
            <li class="fr-nav__item">
                <a class="fr-nav__link" href="{% url 'entry_helper:reports' %}" type="button">A investiguer</a>
            </li>
            <li class="fr-nav__item">
                <a class="fr-nav__link" href="{% url 'entry_helper:reports_ignored' %}" type="button">Ignorés</a>
                </li>
                <li class="fr-nav__item">
                    <a class="fr-nav__link"  href="{% url 'entry_helper:reports_done' %}" type="button">Envoyés vers EMCIP</a>
                </li>
                <li class="fr-nav__item">
                    <a class="fr-nav__link" s href="{% url 'admin:logout' %}?next=/reports/" type="button">Déconnexion</a>
                </li>
            </ul>
        </nav>
         <h1>{{ title_content }}</h1>

        <main id="content fr-mt-4w fr-mb-6w" role="main">
            {% block content %}
            {% for object in object_list %}
            <div>
                <div>
                    ---
                </div>
                <div>
           
                    {{ object.event_datetime|date:"D d M" }} / 
                    {{ object.event_datetime|time:"H:i" }} / 
                    {{ object.declarative_entity }} / 
                    {{ object.event_datetime|date:"Y" }} / 
                    Information manquante / 
                    {{ object.event_location }} / 
                    {{ object.ship_name }} - 
                    {{ object.ship_type }} - 
                    IMO : {{ object.imo_number }} - 
                    Immat : {{ object.registration_number }} - 
                    lht : {{ object.ship_total_length }} - 
                    décés : {{ object.nb_deceased }} - 
                    disparus : {{ object.nb_lost }} - 
                    blessés : {{ object.nb_injured }} - 
                    {{ object.event_type }}
                    
                </div>
                <div>
                    {% if report_list_status_type != 'done' %}
                        <form action="{% url 'entry_helper:reports' %}" method="post">
                            <input type="hidden" name="report_uuid" value="{{ object.uuid }}" />
                            {% csrf_token %}
                            <input type="submit" value="Push to EMCIP">
                        </form>
                    {% endif %}
                    {% if report_list_status_type == 'todo' %}
                        <form action="{% url 'entry_helper:reports_ignored' %}" method="post">
                            <input type="hidden" name="report_uuid" value="{{ object.uuid }}" />
                            {% csrf_token %}
                            <input type="submit" value="Ignorer">
                        </form>
                    {% endif %}
                    {% if report_list_status_type == 'ignored' %}
                        <form action="{% url 'entry_helper:reports' %}" method="post">
                            <input type="hidden" name="report_uuid" value="{{ object.uuid }}" />
                            {% csrf_token %}
                            <input type="submit" value="A investiguer">
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% endblock content %}
    </main>

    {% include "./footer.html" %}
    {% dsfr_js %}
    {% block extra_js %}{% endblock extra_js %}
</body>

</html>
