{% load static dsfr_tags %}
<!doctype html>
<html lang="fr" {% if SITE_CONFIG.mourning %}data-fr-mourning{% endif %}>
    
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>
    <div>
        <h1>{{ title_content }}</h1>
        <div>
            <a href="{% url 'entry_helper:reports' %}" type="button">A investiguer</a>
            <a href="{% url 'entry_helper:reports_ignored' %}" type="button">Ignorés</a>
            <a href="{% url 'entry_helper:reports_done' %}" type="button">Envoyés vers EMCIP</a>
            <a href="{% url 'admin:logout' %}?next=/reports/" type="button">Déconnexion</a>
        </div>
        <div>
            {% for object in object_list %}
            <div>
                <div>
                    ---
                </div>
                <div>
                    {{ object.event_datetime|date:"D d M" }} / 
                    {{ object.event_datetime|time:"H:i" }} / 
                    {{ object.declarative_entity }} / 
                    {{ object.event_datetime|date:"Y" }} / 
                    Information manquante / 
                    {{ object.event_location }} / 
                    {{ object.ship_name }} - 
                    {{ object.ship_type }} - 
                    {{ object.imo_number }} - 
                    {{ object.registration_number }} - 
                    {{ object.ship_total_length }} - 
                    {{ object.nb_deceased }} - 
                    {{ object.nb_lost }} - 
                    {{ object.nb_injured }} - 
                    {{ object.event_type }}
                </div>
                <div>
                    {% if report_list_status_type != 'done' %}
                        <form action="{% url 'entry_helper:reports' %}" method="post">
                            <input type="hidden" name="report_uuid" value="{{ object.uuid }}" />
                            {% csrf_token %}
                            <input type="submit" value="Push to EMCIP">
                        </form>
                    {% endif %}
                    {% if report_list_status_type == 'todo' %}
                        <form action="{% url 'entry_helper:reports_ignored' %}" method="post">
                            <input type="hidden" name="report_uuid" value="{{ object.uuid }}" />
                            {% csrf_token %}
                            <input type="submit" value="Ignorer">
                        </form>
                    {% endif %}
                    {% if report_list_status_type == 'ignored' %}
                        <form action="{% url 'entry_helper:reports' %}" method="post">
                            <input type="hidden" name="report_uuid" value="{{ object.uuid }}" />
                            {% csrf_token %}
                            <input type="submit" value="A investiguer">
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>
