{% load static dsfr_tags %}
<!doctype html>
<html lang="fr" {% if SITE_CONFIG.mourning %}data-fr-mourning{% endif %}>
    
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% dsfr_css %}
    {% dsfr_favicon %}
    {% block extra_css %}{% endblock extra_css %}
</head>

<body>
    {% block skiplinks %}
        {% dsfr_skiplinks skiplinks %}
    {% endblock skiplinks %}
    {% dsfr_theme_modale %}
    
    {% include "./header.html" %}
    <div class="fr-container fr-mt-4w fr-mb-6w">
         <h1>{{ title_content }}</h1>
         <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="fr-mb-2w">
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="fr-alert fr-alert--error">
                            <p>{{ message }}</p>
                            <p>If the error persists, please contact the administrator.</p>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
         </div>
        <main id="content" role="main">
            {% block content %}
            {% for object in object_list %}
            <div>
                <div class="fr-mt-2w">
           
                    {{ object.event_datetime|date:"d M" }} / 
                    {{ object.event_datetime|time:"H:i" }} / 
                    <strong>
                    {{ object.declarative_entity }}  </strong>  / 
                    <strong>{{ object.event_datetime|date:"Y" }}</strong>   / 
                    <strong> Information manquante  
                    </strong> /
                    {{ object.event_location }} / 
                    {{ object.ship_name }} - 
                    {{ object.ship_type }} - 
                    <u>IMO</u>: {{ object.imo_number }} - 
                   <u>Immat</u>:  {{ object.registration_number }} - 
                   <u>lht</u>:  {{ object.ship_total_length }} - 
                   <u>décès</u>:  {{ object.nb_deceased }} - 
                   <u>disparus</u>:  {{ object.nb_lost }} - 
                    <u>blessés</u>:   {{ object.nb_injured }} - 
                    {{ object.event_type }}
                    
                </div>
                <div class="fr-btns-group fr-btns-group--inline fr-mt-2w">
                    {% if report_list_status_type == 'todo' %}
                        <form action="{% url 'entry_helper:reports' %}" method="post">
                            <input type="hidden" name="report_uuid" value="{{ object.uuid }}" />
                            <input type="hidden" name="report_target_status" value="done" />
                            {% csrf_token %}
                            <input class="fr-btn" type="submit" value="Push to EMCIP">
                        </form>
                        <form action="{% url 'entry_helper:reports' %}" method="post">
                            <input type="hidden" name="report_uuid" value="{{ object.uuid }}" />
                            <input type="hidden" name="report_target_status" value="ignored" />
                            {% csrf_token %}
                            <input class="fr-btn fr-btn--tertiary" type="submit" value="Ignorer">
                        </form>
                    {% endif %}
                    {% if report_list_status_type == 'ignored' %}
                        <form action="{% url 'entry_helper:reports_ignored' %}" method="post">
                            <input type="hidden" name="report_uuid" value="{{ object.uuid }}" />
                            <input type="hidden" name="report_target_status" value="done" />
                            {% csrf_token %}
                            <input class="fr-btn" type="submit" value="Push to EMCIP">
                        </form>
                        <form action="{% url 'entry_helper:reports_ignored' %}" method="post">
                            <input type="hidden" name="report_uuid" value="{{ object.uuid }}" />
                            <input type="hidden" name="report_target_status" value="todo" />
                            {% csrf_token %}
                            <input class="fr-btn fr-btn--secondary" type="submit" value="A investiguer">
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% endblock content %}
    </main>

    {% include "./footer.html" %}
    {% dsfr_js %}
    {% block extra_js %}{% endblock extra_js %}
</body>

</html>
